<section class="we-help-section" id="options">
<div class="container text-center concerning">
    <div class="home-article">
      <h1 class="rb-text-heavy rb-color-primary mb-3">How can we help?</h1>
      <hr class="white-hr mb-4">
      <p class="rb-text-light rb-color-primary">We help you get into Substance abuse and mental health treatment from certified professionals
        that
        offer various approaches to the recovery process, certified professionals in medication assisted
        treatment, CBT, DBT, 12 step recovery etc. We Specialize in assisting you with reintegrating
        yourself back into society and reconnecting yourself with loved ones. Our mission is to guide
        you
        into living the life you were meant to live.</p>
    </div>

    <div class="row icon-section">
      <div class="col-lg-4 col-md-6 icon-box">
        <div class="icon"><i class="bi-x6 bi-hospital rb-color-primary"></i></div>
        <h3 class="rb-text-regular rb-color-primary my-4">Detox</h3>
        <p class="description rb-text-light rb-color-primary">Under the care of certified professionals, our detoxes in California will
          guide you on a restorative journey to cleanse your body, mind, and spirit.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box">
        <div class="icon"><i class="bi bi-house-door rb-color-primary"></i></div>
        <h3 class="rb-text-regular rb-color-primary my-4">Sober Living</h3>
        <p class="description rb-text-light rb-color-primary">Find your footing again with us - our sober living facilities are
          dedicated
          to easing your transition back into society by providing a supportive, nurturing
          environment.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box">
        <div class="icon"><i class="bi bi-heart rb-color-primary"></i></div>
        <h3 class="rb-text-regular rb-color-primary my-4">Couples Welcome</h3>
        <p class="description rb-text-light rb-color-primary">Couples are warmly welcomed, our specialized marriage and relationship
          counselors are here to help reinforce and rebuild the
          bonds for supportive relationships in recovery.</p>
      </div>
    </div>
  </div>

</section>