<section id="apply" class="apply">
    <div class="container">
        <div class="application-heading">
            <h1 class="rb-text-heavy rb-color-primary">Get help</h1>
            <hr class="white-hr mb-4">
            <p class="rb-text-light rb-color-primary fs-5">Fill out the form below to apply for our program. Our intake coordinators will reach out within 72 hours via email or phone to discuss your options.</p>

        </div>

        <!-- Patient Intake Form -->
        <div class="container join-program">
            <form class="application" id="patientForm" name="Patient Intake" data-netlify="true" method="POST" enctype="application/x-www-form-urlencoded" action="/.netlify/functions/patientForm">
                <!-- Form fields... -->
                <!-- First and Last Name Fields -->
                <div class="row">
                    <div class="col-6">
                        <label for="firstName" class="form-label rb-color-primary rb-text-light">First Name</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Joe" aria-label="First name">
                    </div>
                    <div class="col-6">
                        <label for="lastName" class="form-label rb-color-primary rb-text-light">Last Name</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Smith" aria-label="Last Name">
                    </div>
                </div>
                <!-- Email and Phone Fields -->
                <div class="row">
                    <div class="col-6">
                        <label for="email" class="form-label rb-color-primary rb-text-light">Email</label>
                        <input type="email" class="form-control" id="emailAddress" name="emailAddress" placeholder="johnsmith@gmail.com">
                    </div>
                    <div class="col-6">
                        <label for="phone" class="form-label rb-color-primary rb-text-light">Phone</label>
                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="555-892-6893">
                    </div>
                </div>
                <!-- Insurance Provider, ID Number, and Group Number Fields -->
                <div class="row">
                    <div class="col-12 mb-6">
                        <label for="insProvider" class="form-label rb-color-primary rb-text-light">Insurance Provider</label>
                        <input type="text" class="form-control" id="insProvider" name="insurance" placeholder="Blue Cross/Blue Shield">
                    </div>
                    <div class="col-6">
                        <label for="idNumber" class="form-label rb-color-primary rb-text-light">ID Number</label>
                        <input type="text" class="form-control" id="idNumber" name="memberID" placeholder="xED9999999">
                    </div>
                    <div class="col-6">
                        <label for="groupNumber" class="form-label rb-color-primary rb-text-light">Group Number</label>
                        <input type="text" class="form-control" id="groupNumber" name="groupNumber" placeholder="X0001001">
                    </div>
                </div>
                <!-- File Upload Fields -->
                <div class="row">
                    <div class="col-9 upload-container rb-color-primary rb-text-light">
                        <p class="rb-color-primary">Total filesize above 15mb will not be submited:</p>
                        <label class="form-label" for="front-upload">Upload Front of Insurance Card:</label>
                        <input class="upload-input" accept="image/png, image/jpeg" type="file" id="front-upload" name="front-upload"><br>
                        <label class="form-label" for="back-upload">Upload Back of Insurance Card:</label>
                        <input class="upload-input" accept="image/png, image/jpeg" type="file" id="back-upload" name="back-upload"><br>
                        <input type="hidden" name="_next" value="https://www.myrecoveryroads.com" />
                        <input type="checkbox" name="_optin" class="opt-in" />
                        <label for="_optin" class="form-label rb-color-primary rb-text-light">You Agree to email communication.</label>
                        <input type="hidden" value="patientForm" />
                        <input type="hidden" name="tags" value="Applied" />
                        <input type="hidden" name="journey" value="3120">
                        <!-- Submit Button -->
                        <button type="submit" class="btn btn-outline-primary submit-mobile me-sm-3 mt-3 mb-1">Submit</button>
                    </div>
                    <div class="col-3 justify-content-end text-end">
                        <button type="submit" id="submit-button" class="btn btn-outline-primary submit-lg me-sm-3 my-5">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>