<div class="container">
  <div class="row">
    <div class="col-md-6 me-md-auto col-sm-12 header-cta">
      <h1 class="rb-text-regular rb-color-primary m-2">Start your recovery from addiction today.</h1>
      <p class="rb-text-light rb-color-primary m-2">You aren't alone, millions have gone through recovery and we're here to help.</p>
      <a href="/we-help/today#options" class="btn btn-outline-primary m-2">Get Help</a>
    </div>
  </div>
</div>

  <div class="container justify-content-end text-end">
    <div class="row">
      <div class="col-md-6 ms-md-auto col-sm-12 header-register">
        <h1 class="rb-text-regular rb-color-primary m-2">Read stories our stories</h1>
        <p class="rb-text-light rb-color-primary text-wrap m-2">We share stories of strength from addicts in recovery anonymously through social media to inspire individuals to seek sobriety. </p>
        <a href="/blog/addiction-stories/" class="btn btn-outline-night m-2">Addiction Stories</a>
      </div>
    </div>
  </div>
