@import url('style.css');

/* BLOGNAV CSS */


/* Global */

:root {
    --primary: #fdfdfd;
    --secondary: rgb(147, 224, 255);
    --calm: rgb(255, 255, 175);
    --night: rgb(46, 32, 79);
    --grey: rgb(182, 182, 182);
    --black: rgb(0, 0, 0);
    --nightGrad: linear-gradient(300deg, var(--calm) -30%, var(--night) 100%);
    --calmGrad: linear-gradient(300deg, var(--calm) -30%, var(--secondary) 100%);
}



body {
    background: var(--nightGrad);
}

h1, h2, h3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--primary);
    text-shadow: 
        1px 1px 0px #bcbcbc,  /* Gray shadow for depth */
        2px 2px 0px #acacac; /* Slightly darker shadow for further depth */
}


p, span {
    color: var(--primary);
    filter: brightness(90%) contrast(120%) drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}



.nav-link {
    color: var(--black);
}

.nav-link:hover {
    color: var(--calm);
}

.navbar-brand.myNav-brand  {
    color: var(--black);
}

.navbar-brand.myNav-brand:hover  {
    color: var(--primary);
}

.footer-container {
    background: transparent;
}


